*{
    box-sizing: border-box;
}

body{
    background-color: darkblue;
    text-align: center;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:red;
}


#gameBoardContainer{
    width: 100%;
   
    margin-top: 200px;
    text-align: center;
}
#cont{
    width: 70%;
    margin:0 auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.blue{
    background-color:dimgrey;
}
.red{
    background-color: red;
    border: 1px solid red;
}
.dodgerblue{
    background-color:dodgerblue;
}
.board{
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(10,40px);
    grid-template-rows: repeat(10,40px);
    
}

.square{
    
    border: 1px solid;
    text-align: center;
    padding-bottom: 2px;
    font-size:30px;
}

#playerBoard{
   
   
   
    
}

#cpuBoard{
    
}




